<!DOCTYPE html>
<html>
<head>
	<title>POUISSANCE 4</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	{% block body %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	{% block script %}{% endblock %}
</body>
</html>
